@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
}
.body{
    background-color: rgb(136, 136, 136);
}

.container{
    border: 2px solid black;
    background-color: white;
    width: 1060px; 
    height: auto;
    text-align: center;
    margin: auto auto;
}
.banner{
    width: 100%;
    height: 270px;
    box-shadow:  5px 5px 10px rgb(117, 115, 115);

}
.logo{
    width: 150px;
    height: 150px;
    margin-top: 8px;
}
h2{
    color: black;
    text-align: center;
    font-size: 16;
    font-family:'Roboto';
    font-style: italic;
    margin: 8px 8px;    
}
h3{
    color: black;
    text-align: center;
    font-size: 16;
    font-family: 'Roboto';
    margin: 8px 8px;
}
.banner-produtos{
    border: 2px solid #ccc;
    width: 330px;
    height: auto;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgb(117, 115, 115);

}
.countainer-produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 8px;
}
.img-produtos{
    width: 100%;
    height: 250px;
    padding: 5px;
}
.formulario{
    margin-top: 10px;
    margin-left: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formatacao-campo{
    text-align: left;
    margin-left: 30px;
}
.button{
    width: auto;
    height: auto;
    margin-left: auto;
    border: none;
    margin-top: 10px;
}
.mapa{
    margin-top: -15px;
    margin-right: 15%;
    margin-bottom: 15px; 

}
.text-box{
    border: 2px solid #ccc;
    font-size: 18px;
    line-height: 18px;
    width: 80%;
    box-shadow:  2px 2px 5px rgb(117, 115, 115);

}
.formatacao-formulario{
    width: 50%;
    font-family: 'Roboto';
    margin: -23px;
}
.text-area{
    border: 2px solid #ccc;
    width: 80%;
    height: 185px;
    font-size: 18px;
    box-shadow:  2px 2px 5px rgb(117, 115, 115);

}
.contato{
    display: flex;
    flex-direction: row;
    justify-content: "roboto";
    margin: 20px 8px 8px 8px;
}
.consignado{
    text-align: left;
    padding: 15px;
    margin-top: 10px;
    margin: 8px;
    box-shadow: 5px 5px rgb(160, 160, 159);
    border-radius: 20px;
    font-size: 20px;
    width: 350px;
}
.noticias{
    text-align: left;
    padding: 15px;
    margin: 8px;
    box-shadow: 5px 5px rgb(160, 160, 159);
    border-radius: 20px;
    font-size: 20px;
    width: 600px;
}
.produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 8px;  
}
.banner-produtosofer{
    width: 170px;
    height: auto;
    padding: 10px;
    box-shadow: 5px 5px orange;
    border-radius: 10px;

}
h4{
    text-align: left;
}
.rodape{
    background-color: rgb(136, 136, 136);
    width: auto; 
    height: 150px;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.endereco{
    margin-top: 8px;
    margin-left: -230px;
    text-align: center;
    font-size: 20px;
    color:white;
}
.rsociais{
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-left: -120px;
    text-align: center;
    font-size: 20px;
    color:white;
}
.bemvindo{
    font-size: 70px;
    font-family: Vladimir Script;
    text-align: center;
    color: black;   
}
.ondeestamos{
    font-size: 20px;
    font-family: roboto;
    text-align: left;
    color: black;
    margin: auto auto;
    
}
.inf-produtos{
    border: 2px solid black;
    background-color: white;
    width: 1060px; 
    height: auto;
    text-align: center;
    margin-top:3%;
    margin-left: auto;
    margin-right: auto;
}
.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 8px;  
}
.whatsapp{
    margin-right: 8px;
    padding-left: 670px;


}


